<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      EnglishGeek is a revolutionary project from OWL productions which
	  attempts ot revolutionize the global language learning environmenment 
	  by providing quality, affordable, one-on-one or small group language
	  lessons. Say goodbye to messy contracts, exorbitant rates, and price-gouging
	  agencies. Say hello to EnglishGeek!
    </p>
