<% provide(:title, 'About Us') %>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<p>
				<b>What is Language Works?</b></br>
				We are a startup which makes foreign language education work
				the way that it is supposed to. Based on our own experiences
				teaching and learning foreign languages, we know that you don't
				learn a language in a classroom. You learn a language by speaking it.
				Which is what we're trying to do here.
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<p>
				<b>Why is language works different from other tutoring agencies?</b></br>
				Language works is different because we're online. Depending on your location,
				your schedule, and your budget, it is not always convenient to hire a
				foreign tutor to come to your home. Language Works makes this process much easier,
				by allowing you to meet daily with a foreign tutor in the US or the UK from
				the comfort of your own home.
			</p>	
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<p>
				<b>What do I get with language works?</b></br>
				
				With language works you get a highly-qualified native-speaking English tutor 
				to meet with several times each week. This is what we say, and this is what you get.				Unlike a lot of the tutoring agencies operating in China today,
				we don't falsify our teacher's qualifications. Because we don't need to.
				We only hire people with quality educational and professional experience.
				We hire exclusively from top universities in the United States and United Kingdom.			
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<p>
				<b>How does language works guarantee quality?</b></br>
				Language Works guarantees quality with a personal promise.
				Each of our teachers is interviewed by our founders personally, who bring 
				several years of experience in teaching and tutoring English students
				in Shanghai. We personally look for the qualities that make an excellent
				English tutor - educated, friendly, energetic, and reliable. 
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<p>
				<b>Why is language works so much less expensive than other langauge schools?</b></br>
				Because we leverage the power of technology to keep costs down.
				Where other language schools waste money on excessive salespeople and
				and staff, we rely on software to make everything happen automatically.
				And where other schools waste money on expensive advertising,
				we rely on satisfied customers and social networks to do our advertising for us.
				Which means that you get a better product for a lower price.
			</p>
		</div>
	</div>
			
	<div class="row">
		<div class="span12">
			<p>
				<b>How do I get started?</b></br>
				Get started by checking out our <%= link_to "introductory video", signup_path %>.
				This will explain what we do in a bit more detail. If you like what you see, go ahead and create
				a free account and check out a few free sample lessons. If you think you're interested, you can
				check out our <%= link_to "lessons plans" %> and start taking lessons.
				
			</p>
		</div>
	</div>
</div>