<div class="container">
	<div class="hero-unit">
		<h1>English BOOST! 外教补习班</h1>
		<h2>Experience one-on-one foreign teacher English tutoring without leaving home!</h2>
		<%= link_to "Get Started!", signup_path, class: "btn btn-large btn-primary" %>
		<%= link_to "What Do We Do?", about_path, class: "btn btn-large btn-primary" %> 
	</div>
      <div class="row">
        <div class="span4">
          <h2>BOOST Your Oral English</h2>
		  <img src="/convo.jpg", id="thumbnailbusiness"/>
           <p>In a globalized world, spoken English is the key to meeting
		   people, making connections, and getting to know the world
		   outside China.</p>
          <p><a class="btn" href="#">Learn More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>BOOST Your Career</h2>
		  <img src="/stairs.jpg", id="thumbnailbusiness"/>
           <p>Increasingly, demanding bosses are asking that their employees
		   not only speak a bit of English, bit that they can really
		   get into the details of global business with partners, customers,
		   and suppliers. Send your career to the next level with our award winning
		   global business English program.</p>
          <p><a class="btn" href="#">Learn More &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>BOOST Your Child</h2>
		  <img src="/youth.jpg", id="thumbnailkids"/>
          <p>More and more, English is the international language
		  of education. Make sure that your child is not left behind.</p>
          <p><a class="btn" href="#">Learn More &raquo;</a></p>
        </div>
      </div>
</div>

