<div class="hero-unit">
    <h1>English BOOST! 外教补习班</h1>
    <h2>Experience one-on-one foreign teacher English tutoring without leaving home!</h2>
    <%= link_to "Get Started!", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "What Do We Do?", about_path, class: "btn btn-large btn-primary" %> 
    </div>
</div>