<div class="container">
	<div class="row">
		<div class="span8">
		<h2>Here we can have a final sales page explaining
		how much our product costs and what the benefits of signing up are</h2>
		</div>
		<div class="span4">
		<h2>This is for the alipay/unionpay plugin</h2>
		</div>
	</div>
	<div class="row">
	<h1>Some further copy about what a great deal this product is
	and possibly another faq or some pictures</h1>
	</div>
</div>