<div class="container">
<h1>Welcome to the Free English Boost Sample Lesson</h1>
	<div class="row">
		<div class="span8">
		<iframe width="480" height="360" src="http://www.youtube.com/embed/_tDxofzvTfU" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="span4">
		<h2>put the sales bullet points here!</h2>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h2><%= link_to "Get Started!", product_path, class: "btn btn-large btn-primary" %></h2>
		</div>
	</div>

</div>