<!DOCTYPE html>
<html>
	<head>
		<meta content-"text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to English Boost, <%= @user.name %></h1>
		<p>
			Thank you for signing up to English Boost,
			your username is: <%= @user.email %>
		</p>
		<p>
			To visit your profile, just follow this link: <%= @url %>.
		</p>
		<p>
			Take a look around the site, watch our sample lessons, or give
			our professional staff a call at xxx-xxx-xxxx.
		</p>
		<p>
			Thanks for joining, and I hope to see you in class!
		</p>
	</body>
</html>